.background-container {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center; /* Horizontally center the .container */
    align-items: center;
  }
  
  .container {
    width: 400px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .container h2 {
    text-align: center;
  }
  
  .container form {
    display: flex;
    flex-direction: column;
  }
  
  .container input[type="text"],
  .container input[type="password"],
  .container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .container input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .container input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
  }
  
  .sign-in-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .sign-in-btn:hover {
    background-color: #0056b3;
  }
  