.projectapp{
    text-align: center;
}

.projectapp .main{

    margin-top: 30px;
    
}
.projectapp .main input{

    height: 30px;
    font-size: large;
    color: blue;
    
}

.projectapp .main button{

    height: 30px;
    margin-left: 30px;
    
}